* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sansserif';
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(/images/kayo_background.jpg);
    background-position: center;
    background-size: cover; /* Adjust this as per requirement */
    background-attachment: fixed;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.cards-wrapper {
    max-height: calc(100vh - 12%);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cards-wrapper::-webkit-scrollbar {
    display: none;
}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo {
    width: 60px;
    cursor: pointer;
}
.menu_icon {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}
.card{
    width: 290px;
    height: 260px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.7s;
}
.card1{
    background-image: url(images/Agents/Fade.png);
}
.card2{
    background-image: url(images/Agents/Kayo.png);
}
.card3{
    background-image: url(images/Agents/Sova.png);
}
.card4{
    background-image: url(images/Agents/Viper.png);
}
.card5{
    background-image: url(images/Agents/Phoenix.png);
}
.card6{
    background-image: url(images/Agents/Brimstone.png);
}
.card7{
    background-image: url(images/Agents/Gekko.png);
}
.card8{
    background-image: url(images/Agents/Jett.png);
}
.card9{
    background-image: url(images/Agents/Sage.png);
}
.card10{
    background-image: url(images/Agents/Omen.png);
}
.card11{
    background-image: url(images/Agents/Breach.png);
}
.card12{
    background-image: url(images/Agents/Raze.png);
}
.card13{
    background-image: url(images/Agents/Cypher.png);
}
.card14{
    background-image: url(images/Agents/Killjoy.png);
}
.card15{
    background-image: url(images/Agents/Skye.png);
}
.card16{
    background-image: url(images/Agents/Yoru.png);
}
.card17{
    background-image: url(images/Agents/Astra.png);
}
.card18{
    background-image: url(images/Agents/Chamber.png);
}
.card19{
    background-image: url(images/Agents/Neon.png);
}
.card20{
    background-image: url(images/Agents/Harbor.png);
}
.card21{
    background-image: url(images/Agents/Deadlock.png);
}
.card22{
    background-image: url(images/Agents/Reyna.png);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    color: #fff;
    text-shadow: 0 0 15px #000;
    font-size: 12px;
}