* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sansserif';
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/kayo_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo {
    width: 60px;
    cursor: pointer;
}
.menu_icon {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}
.row {
    display: flex;
    height: 80%;
    align-items: center;
}
.col {
    flex-basis: 50%;
}
h1 {
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 13px;
    line-height: 18px;
}
button {
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
}
.card{
    width: 290px;
    height: 260px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.7s;
}

.card1{
    background-image: url(images/Agents/Fade.png);
}
.card2{
    background-image: url(images/Agents/Kayo.png);
}
.card3{
    background-image: url(images/Agents/Sova.png);
}
.card4{
    background-image: url(images/Agents/Viper.png);
}
.card5{
    height: 150px;
    width: 615px;
    background-image: url(images/Agents/Phoenix.png);
    background-position: unset;
    transition: transform 1s;
}
.card:hover{
    animation: tiltAndSpin 2s;
    animation-iteration-count: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 12px;
}
@keyframes tiltAndSpin {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
