* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sansserif';
}
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/kayo_background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo {
    width: 60px;
    cursor: pointer;
}
.menu_icon {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}
h1 {
    color: #fff;
    font-size: 60px;
}
p{
    color: #fff;
    font-size: 13px;
    line-height: 18px;
}
.maps {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    height: 60vh;
    width: 150vh;
    margin-top: 2%;
}
.card{
    height: 100%;
    margin: 3px;
    width: 14.3%;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.7s;
}
.Ascent {
    background-image: url(images/Maps/Ascent.png);
}
.Bind {
    background-image: url(images/Maps/Bind.png);
}
.Breeze {
    background-image: url(images/Maps/Breeze.png);
}
.Haven {
    background-image: url(images/Maps/Haven.png);
}
.Lotus {
    background-image: url(images/Maps/Lotus.png);
}
.Split {
    background-image: url(images/Maps/Split.png);
}
.Sunset {
    background-image: url(images/Maps/Sunset.png);
}
.card:hover{
    transform: scale(110%);
}
h5{
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #999;
    padding-left: 40%;
    margin-top: 15%;
}