* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sansserif';
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(/images/Maps/Ascent.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}