* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sansserif';
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(/images/Maps/Ascent.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}
.Def{
    display: inline-block;
    width: fit-content;
    overflow-wrap: break-word;
    background-color: rgb(219, 96, 96);
    display: flex;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 1%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(128, 0, 0);
}
h1{
    color: #FFF;
}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo {
    width: 60px;
    cursor: pointer;
}
.menu_icon {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}